/* body{
    margin: 0;
    padding:0;
    font-family: opensans,sans-serif;
} */

/*upper section*/

#upper{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    height: 377px;
    width: 100%;
    background-color: #8275d0;
    font-family: opensans,sans-serif;
    
}
#upper>div:nth-child(2){
   
    width: 800px;

}
#upper>div:first-child{
    width: 700px;
    
    color: white;
    padding-left: 150px;
    padding-top: 40px;
}
#upper>div:first-child>button{
    background-color: black;
    width:380px;
    color: white;
    border-radius: 10px;
    height: 60px;
    font-size: 20px;
    font-weight: 780;
    margin-top: 20px;
    border: 2px solid black;
}
#upper>div:first-child>p{
   font-size: 20px;
   line-height: 10px;
}
#upper>div:first-child>h1{
    font-size: 40px;
    font-weight:600;
}


/* slide */



#slide{
    display: flex;
    justify-content: center;
    gap: 80px;
    font-family: opensans,sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
   
#slide>div{
    height: 50px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    font-weight: none;
    padding-bottom: 5px;

}
#slide>div:first-child{
    color:rgb(192, 179, 179);
}
#slide>div:first-child:hover{
    color:black;
 
}

#slide>div:nth-child(2){



    text-underline-offset: 10px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: blueviolet;
    
}
#slide>div:first-child:hover{
    color:black;

}

/* Lower side */


#progress{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 25px;
}

#div001{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
    margin-bottom: 100px;
}

#box001{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8275d0;
   height: 65px;
   width: 65px;
   border-radius: 25px;
   color: white;
}
#box002{
    width: 26px;
    height: 12px;
    background-color: rgb(226, 226, 226);
    border-radius: 25px;
}
#box003{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
   height: 65px;
   width: 65px;
   border-radius: 25px;
   color:#8275d0 ;
   font-size: 28px;
   font-weight: bold;
}
#box004{
    width: 26px;
    height: 12px;
    background-color: rgb(226, 226, 226);
    border-radius: 25px;

}
#box005{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
   height: 90px;
   width: 90px;
   border-radius: 25px;
   color:#8275d0 ;
}
#box006{
    width: 26px;
    height: 12px;
    background-color: rgb(226, 226, 226);
    border-radius: 25px;
}
#box007{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
   height: 65px;
   width: 65px;
   border-radius: 25px;
   color:#8275d0 ;
   font-size: 28px;
   font-weight: bold;
}
#box008{
    width: 26px;
    height: 12px;
    background-color: rgb(226, 226, 226);
    border-radius: 25px;
}
#box009{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
   height: 65px;
   width: 65px;
   border-radius: 25px;
   color:#8275d0 ;
   font-size: 28px;
   font-weight: bold;
}
#box010{
    width: 26px;
    height: 12px;
    background-color: rgb(226, 226, 226);
    border-radius: 25px;
}

#box011{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
   height: 90px;
   width: 90px;
   border-radius: 25px;
   color:#8275d0 ;
}
#box012{
    width: 26px;
    height: 12px;
    background-color: rgb(226, 226, 226);
    border-radius: 25px;
}
#box013{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
   height: 65px;
   width: 65px;
   border-radius: 25px;
   color:#8275d0 ;
   font-size: 28px;
   font-weight: bold;
}
#box014{
    width: 26px;
    height: 12px;
    background-color: rgb(226, 226, 226);
    border-radius: 25px;
}
#box015{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
   height: 90px;
   width: 90px;
   border-radius: 25px;
   color:#8275d0 ;
}
#box016{ 
    width: 26px;
    height: 12px;
    background-color: rgb(226, 226, 226);
    border-radius: 25px;}
#box017{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
   height: 65px;
   width: 65px;
   border-radius: 25px;
   color:#8275d0 ;
   font-size: 28px;
   font-weight: bold;
}
#box018{
    width: 26px;
    height: 12px;
     background-color: rgb(226, 226, 226);
    border-radius: 25px;
}

#box019{
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: rgb(226, 226, 226);
   height: 65px;
   width: 65px;
   border-radius: 25px;
   color:#8275d0 ;
   font-size: 28px;
   font-weight: bold;
}
#box020{
    width: 26px;
    height: 12px;
     background-color: rgb(226, 226, 226);
    border-radius: 25px;

}
#box021{
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: rgb(226, 226, 226);
   height: 90px;
   width: 90px;
   border-radius: 25px;
   color:#8275d0 ;
}
.para1{
    line-height:2;
    margin-top: 10px;
    
}
